body{
    background-color:rgb(10, 18, 33);
}
header{
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 20px 20px;
}    
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500 ;
    padding-left: 30px;
    position: relative;
    right: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color:#100d18;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
h2{
    color: #3a6cf4;
    padding-left: 300px;
    margin-top: 300px;
    font-weight: 900;
    font-size: 50px;
}
h3{
    color: #3a6cf4;
    position: relative;
    left: -290px;
    top: 340px;
    font-size: 30px;
;
}
.fb{
    color: #fff;
    position: relative;
    top: 430px;
    right: 500px;
    background-color:#3a6cf4;
    height: fit-content;
    font-weight: 600;
    padding: 0.9375em;
    transition: 0.7s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.fb:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.twiter{
    position: relative;
    right: 1300px;
    top: 540px;   
}
.posts{
    background-color: aliceblue;
    padding-bottom: 10px;
}
#post1{
    border-radius: 30px 30px 30px 30px;
    padding-left: 700px;
    background-color: #4b1e1e;
    width: 500px;
    background: fixed;
    box-shadow: 20px;
}
#post-text{
    color: #3a6cf4;
    font-size: 70px;
    font-weight: 800;

}
#post2{
    padding-left: 50px;
    width: 500px;
    height: 480px;
    border-radius: 30px;
}
#post3{
    padding-left: 100px;
    width: 500px;
    height: 480px;
    border-radius: 30px;
    position: relative;
    bottom: 480px;
}
.contact{
    padding-bottom: 200px;
}
#conname{
    color: #3a6cf4;
    font-size: 70px;
    font-weight: 800;
    padding-left: 800px;
}
.watsapp{
    background-color: #f0f0f0;
    width:340px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    left: 120px;
    bottom: 12px;
}
.watslogo{
    padding-left: 70px;
}
#numb{
    font-size: 40px;
    display: flex;
    width: 300px;
    position: relative;
    right: 270px;
    bottom: 260px;
    color: #21252f;
}
#tx{
    font-size: 50px;
    padding-left: 40px;
}
.Gmail{

    background-color: #f0f0f0;
    width:340px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    left: 800px;
    bottom: 410px;
}
#txx{
    font-size: 50px;
    padding-left: 10px;
}
.glogo{
    position: relative;
    left: 100px;
}
#gmail{
    font-size: 30px;
    display: flex;
    width: 200px;
    position: relative;
    right: 400px;
    bottom: 260px;
    color: #21252f;
}
.phone{
    background-color: #f0f0f0;
    width:340px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    left: 600px;
    bottom: 620px;
}
.phonelogo{
    position: relative;
    left: 90px;
    bottom: 90px;
}
#phtext{
    font-size: 50px;
    padding-left: 110px;
    position: relative;
    top: 200px;
}
.phnumb{
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 60px;
}